<header>
  <%= image_tag("logo.png", :alt => "Patients", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
